@import '~@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

body {
  font-family: 'Varela', sans-serif;
  background: rgb(163,0,90);
background: linear-gradient(180deg, rgba(163,0,90,1) 0%, rgba(96,0,19,1) 100%);
min-height: 100vh;
}
h1,h2 {
  font-family: 'Oleo Script', cursive;
}

h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}
